.Navbar {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 60px;
    background-color: #6b3e3e;
    color: #181717;
  }

  .Navbar-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Navbar-item {
    margin: 0 5px;
  }
  
  .Navbar-item a {
    color: #fff;
    text-decoration: none;
  }
  
  .Navbar-item a:hover {
    text-decoration: underline;
  }